<!-- base.html -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <h1> Rock-Paper-Scissors </h1>
            <img src="../static/img/logo.png" alt="cute drawing of rock, paper and scissors characters">
        </header>
        <hr>
        <main>
        {% block content %}{% endblock%}
        </main>
        <footer>    
            <a id="footer-link" href="https://www.vecteezy.com/free-vector/rock-paper-scissors" target="_blank">Image credits</a>
        </footer>
    </body>
</html>