{% extends "base.html" %}

{% block content %}

<h2> Play game </h2>

    <form action="{{ url_for('game_result', filename='index.html') }}" method="post">
        <input type="text" name="player_name" id="player_name" value="Type your name" size = "30" maxlength = "10">
        <br>
        <br>
        <input type="text" name="player_choice" id="choice" value="Type Rock, Paper or Scissors!" size = "30" maxlength = "10">
        <br>
        <br>
        <input type="submit" value="Play Game">
    </form>

{% endblock %}